{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="ui segment">
    <h2 class="ui header">
        <i class="key icon"></i>
        <div class="content">
            Reset User Password
            <div class="sub header">Enter user details to reset their password</div>
        </div>
    </h2>
    
    <form class="ui form" method="POST">
        {{ form.csrf_token }}
        <div class="field">
            <label>SAM Account Name</label>
            <div class="ui input">
                {{ form.user_samAccountName(placeholder="Enter SAM Account Name") }}
            </div>
        </div>
        <div class="field">
            <label>Employee ID</label>
            <div class="ui input">
                {{ form.employeeID(placeholder="Enter Employee ID") }}
            </div>
        </div>
        <div class="field">
            <label>Service Code</label>
            <div class="ui input">
                {{ form.serviceCode(placeholder="Enter Service Code") }}
            </div>
        </div>
        {{ form.submit(class="ui blue button") }}
    </form>
</div>
{% endblock %}